.items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    background-color: #FFF;
    padding: 20px;
    font-size: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.item h3 {
    font-size: 28px;
    margin: 5px 0;
    color: #646363;
}