.items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    background-color: #FFF;
    padding: 20px;
    font-size: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.item h3 {
    font-size: 28px;
    margin: 5px 0;
    color: #646363;
}

.page {
    background-color: #FFFFFF;
    padding: 40px;
    display: flex;
    box-shadow: 0 0 50px #646363;
    transform: scale(0);
    animation: scale 0.3s ease forwards;
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.price {
    font-size: 28px;
    margin: 10px 0;
}

.image {
    width: 350px;
    min-width: 350px;
}

.title {
    color: #646363;
}

.btnCart {
    color: #646363;
    background-color: #F5B316;
    font-size: 26px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.btnCart:hover {
    background-color: #db9f13;
    color: #000000;
}

.listItem {
    display: flex;
    gap: 10px;
    border-bottom: solid 1px #646363;
    padding: 10px 0;
    scroll-behavior: auto;
}

@keyframes scale {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}