.shoppingCart {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #FFFFFF;
    width: 350px;
    height: 100vh;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 0 0 10px #646363;
    display: flex;
    flex-direction: column;
}

.btnClose {
    color: #646363;
    background-color: #F5B316;
    font-size: 16px;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.btnClose:hover {
    background-color: #db9f13;
    color: #000000;
}

.total {
    font-weight: bolder;
    font-size: 40px;
}

.empty {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
}